/* .box{
    height: 200px;
    width: 200px;
    background-color: rgb(151, 151, 126);
    margin: 10px 20px 30px 40px;
    border-color: black;
    border-style:double;
    border-width: 2px;
    border: black 2px solid;
    padding: 10px;
    box-sizing: border-box;
    box-sizing: content-box;
    border-radius: 50%;
} */

.displayBox{
    margin: 5px;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    font-size: 30px;
    /* display: inline; */
    display: inline-block;
    background-color: beige;
}
#displayNone{
    /* display: none; */
    visibility: hidden;
}
/* .spanBox{
    border: 2px solid black;
    font-size: 30px;
    display: block;
    height: 150px;
    width: 150px;
} */

